doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title EZAltz.com Home
    link(rel="stylesheet", href="css/style.css")
  body
    include ./sections/_navigation